<ion-header>
  <ion-toolbar>
    <!-- componente padrão utilizado para "voltar uma rota" -->
    <ion-button color="success" routerLink="/home" style="display: block"><ion-icon slot="end" name="arrow-back"></ion-icon></ion-button>
    <ion-title style="text-align: center;">Grid 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size-md="6" style="border:none; background: red">Quadro 1</ion-col>
      <ion-col size-md="6" style="border:none; background: purple">Quadro 2</ion-col>
      <ion-col size-md="12" style="border:none; background: green">Quadra 3</ion-col>
    </ion-row>
    <ion-row style="background: gray; padding: 10px 0px; height: 400px">
      <ion-col class="ion-text-left" size="12" size-md="2" style="font-size:18px; border:none; background: green">
        Quadro 4 Quadro 4 Quadro 4 Quadro 4
      </ion-col>
      <ion-col class="ion-text-right" size="12" size-md="10" style="border:none; background: red">quadro 5</ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

<ion-footer>
</ion-footer>